<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HoleyMoley.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HoleyMoley.Properties.Settings>
            <setting name="HoleSize" serializeAs="String">
                <value>Size to screen</value>
            </setting>
            <setting name="OpacityLevel" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Margin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenCrossHairs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarginDepth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ConstantUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CrossHair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ControllerY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FasterRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightDepth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TitleSearch1" serializeAs="String">
                <value>Live</value>
            </setting>
            <setting name="TitleSearch2" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="TitleSearch3" serializeAs="String">
                <value>Dev</value>
            </setting>
            <setting name="HighlightAppNames" serializeAs="String">
                <value />
            </setting>
            <setting name="HoleControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleSearch1Colour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TitleSearch2Colour" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="TitleSearch3Colour" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="TitleSearch4Colour" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="HoleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZoomEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </HoleyMoley.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
